/virtualprototype/programs/compile_commands.json
/virtualprototype/programs/fractal_flpt/build-release-or1300
/virtualprototype/programs/fractal_fxpt/build-release-or1300
/virtualprototype/programs/fractal_fxpt/compile_commands.json
